html{
    height: 100%;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}
nav{
    display: grid !important;
    grid-template-columns: auto max-content;
    justify-content: space-between !important;
    padding: 1rem 3rem;
}
ul{
    padding: 0 5rem;
}
h2{
    padding: 3rem; 
    font-size: 2.5rem;
}
.main_home{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.main_home .product{
    width: 300px;
    box-shadow: 1px -1px 19px -3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px -1px 19px -3px rgba(0,0,0,1);
    -moz-box-shadow: 1px -1px 19px -3px rgba(0,0,0,1);
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
}
.main_home .product .imag_container{
    display: flex;
}
.main_home .product .imag_container img{
    border-radius: 50%;
    box-sizing: initial;
    height: 200px;
    margin: auto;
    object-fit: cover;
    padding: 2rem 0;
    width: 200px;
}
.main_home .product .delete{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
}
.main_home .product .price{
    color: #54b52c;
    font-size: 1.5rem;
    font-weight: 600;
}
.main_home .product .no_product{
    color: #ed4747;
    font-size: 1.2rem;
    font-weight: 600;
}