<div>
    <h1>Bienvenido</h1>
    <div>
        <p><b>Nombre: </b>{{user.first_name}}</p>
        <p><b>Apellido: </b>{{user.last_name}}</p>
        <p><b>Email: </b>{{user.email}}</p>
        <p><b>Edad: </b>{{user.age}}</p>
    </div>
</div>